@media only screen and (max-width: 1740px) {
    .post{
        width: 570px;
        height: 495px;
    }
    .postcardimg {
        width: 540px;
    }
    .seemore {
        width: 540px;
    }
    .posttitle {
        width: 551px;
    }
}

@media only screen and (max-width: 1550px) {
    .post{
        width: 420px;
        height: 405px;
    }
    .postcardimg{
        width: 390px;
    }
    .seemore{
        width: 390px;
    }
    .posttitle{
        width: 424px;
    }
}

@media only screen and (max-width: 1230px) {
    .post {
        width: 388px;
        height: 385px;
        float: left;
        margin-right: 10px;
        margin-left: 0px;
    }
    .postcardimg{
        width: 358px;
    }
    .seemore{
        width: 358px;
    }
    .posttitle{
        width: 386px;
    }
}

@media only screen and (max-width: 810px){
    .post{
        width: 280px;
        height: 345px;
    }
    .postcardimg{
        width: 250px;
    }
    .seemore{
        width: 250px;
    }
    .posttitle{
        width: 265px;
    }
}