footer{
    width: 100%;
    height: 155px;
    background-color: #040911;
    /**border-width: 1px;
    border-image: linear-gradient(90deg, #A100FF, #0074FF, #00FF8B) 1;
    border-top: 3px solid white;**/
    display: inline-flex;
}

.ftdecor{
    margin-top: 15px;
    width: 100%;
    height: 4px;
    background-image: repeating-linear-gradient(45deg, #A100FF, #0074FF, #00FF8B,#A100FF, #0074FF, #00FF8B,#A100FF);
    background-size: 800% 800%;
    animation: rainbow 8s ease infinite;
    display: inline-flex; 
}

.tblocklogoft{
    height: 60px;
    margin-top: 40px;
}

.tsifrulift{
    font-size: 32px;
    letter-spacing: 8px;
    font-family: 'BOGCaps';
    color: white;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.rights{
    font-size: 10px;
    font-family: 'BOGCaps';
    color: white;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.tsifruliftlogo{
    width: 150px;
    display: inline-block;
}

.socialft{
    width: 1130px;
    display: inline-block;
    text-align: center;
}

.socicon{
    width: 30px;
    background-color: #b7b7bc31;
    padding: 10px;
}

.dev{
    margin-top: 20px;
    width: 350px;
    float: right;
}

.devtxt{
    font-size: 25px;
    color: white;
    font-family: 'BOGCaps';
    text-align: right;
}

.devtxt a{
    color: white;
    text-decoration: none;
}

.socicon:hover{
    background: linear-gradient(45deg, #A100FF, #0074FF, #00FF8B);
    transition: 0.3s;
}

.dev a:hover{
    color: #0b7dea;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(90deg, #A100FF, #0074FF, #00FF8B) 1;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    transition: 0.3s;
}

.rainbow-text {
    background-image: repeating-linear-gradient(45deg, #A100FF, #0074FF, #00FF8B,#A100FF, #0074FF, #00FF8B,#A100FF);
    background-size: 800% 800%;
    animation: rainbow 8s ease infinite;
  }
  
  @keyframes rainbow { 
      0%{background-position:0% 50%}
      50%{background-position:100% 25%}
      100%{background-position:0% 50%}
  }

@media only screen and (max-width: 1000px){
    .tsifruliftlogo{
        margin-bottom: 15px;
    }
    .socialft{
        width: 280px;
    }
    .devtxt{
        display: none;
    }
    footer{
        height: 200px;
    }
}

/**
<div class="ftdecor"></div>
<footer>
    <div class="container">
        <img src="style/assets/icons/logo-tblock.svg" class="tblocklogoft">
        <div class="tsifruliftlogo">
            <h1 class="tsifrulift">tsifruli</h1>
            <h1 class="rights">ყველა უფლება დაცულია</h1>
            <h1 class="rights">© 2021</h1>
        </div>
        <div class="socialft">
            <a href="#"><img src="style/assets/icons/fb.svg" class="socicon fb"></a>
            <a href="#"><img src="style/assets/icons/ig.svg" class="socicon ig"></a>
            <a href="#"><img src="style/assets/icons/yt.svg" class="socicon yt"></a>
            </div>
        <div class="dev">
            <h1 class="devtxt">designed and developed by <a href="https://www.j4va.tk/" target="_blank"">J4vakhishvili</a></h1>
        </div>
    </div>
</footer>
**/